<!-- menu -->
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- corpo -->
<ion-content [fullscreen]="true">
  <img class="imagem_logo" src="https://avatars.githubusercontent.com/u/67755952?v=4" width="120" height="120" alt="">

    <ion-grid [fixed]="true">

      <h1 style="text-align:center;color:rgb(0, 0, 0)"> Matheus Prestes </h1>

      <ion-row>
        <ion-col></ion-col>
        <ion-col style="display: flex;">
            <h3 style="color:rgb(88, 88, 88)">Portfólio</h3>
            <ion-badge color="danger" style="width:50px;height:20px;margin-top:20px;margin-left:5px;">1000k</ion-badge>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-icon class="icones" name="logo-whatsapp"></ion-icon>
    <a class="text_icones" href="https://github.com/Mathprestes">Whatsapp</a>
    <br>
    <ion-icon class="icones" name="logo-instagram"></ion-icon>
    <a class="text_icones" href="https://github.com/Mathprestes">Instagram:</a>
    <br>
    <ion-icon class="icones" name="logo-linkedin"></ion-icon>
    <a class="text_icones" href="https://github.com/Mathprestes">LinkedIn:</a>
    <br>
    <ion-icon class="icones" name="logo-github"></ion-icon>
    <a class="text_icones" href="https://github.com/Mathprestes">Github:</a>






</ion-content>
