<!-- menu -->
<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{titulo}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- corpo -->
<ion-content [fullscreen]="true">
<ion-list>

    <ion-item class="ion_item" lines="full" *ngFor="let exerc of listaExerc" (click)="exibirExerc(exerc)">
        <ion-thumbnail slot="start">
            <img src="exerc.imgIni"/>
        </ion-thumbnail>

        <ion-label>
            <p>{{exerc.title}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-sharp" ></ion-icon>
    </ion-item>

</ion-list>
</ion-content>
